.warning {
    border: 2px solid black;
    background-color: red;
    position: relative; 
    width: 100%;
}

.warning-container {
    display: grid;
    justify-content: center;
    align-items: center;
}